- if @saved
  - flash[:notice] = 'Article created successfully'
  = turbo_stream.redirect_to articles_path
- else
  - flash.now[:alert] = 'Article could not be created'
  = turbo_stream.replace 'article-form' do
    = render 'form'
  = turbo_stream.prepend 'flash-box' do
    = render 'layouts/flash'