
- fetch_instance_variables(((locals rescue false) || (local_assigns rescue nil)))

= turbo_frame_tag 'render-to-box' do


  %h3
    Partial by #{request.format}
  %p
    #{SecureRandom.hex(2)}
  %p{class: ((locals[:title] rescue false) ? 'text-green' : 'text-red')}
    = "locals[:title] => #{"«#{locals[:title]}»" rescue 'locals not working'}"
  %p{class: ((local_assigns[:title] rescue false) ? 'text-green' : 'text-red')}
    = "local_assigns[:title] => #{"«#{local_assigns[:title]}»" rescue 'local_assigns not working'}"
  %p{class: ((title rescue false) ? 'text-green' : 'text-red')}
    = "title => #{"«#{title}»" rescue 'not working'}"

  %p{class: ((@article.title rescue false) ? 'text-green' : 'text-red')}
    = "@article.title => #{"«#{@article.title}»" rescue 'not working'}"

  = render 'partials/nested_partial'

