
%h1
  Partial handling

%p
  Make a partial work in different ways

.partials-variables-result-box
  - if @test_traditional_partial
    = render 'variables_test', title: 'working'
  - if @test_traditional2_partial
    = render 'variables_test', locals: {title: 'working'}
  - else
    = turbo_frame_tag 'render-to-box'


%h3
  Channel
%ul
  %li
    = button_to 'channel locals test', partials_test_channel_path, method: :post
    %p
      Sent by render_to_all.
    -# %p
    -#   If the gem doesnt see a turbo_frame_tag inside the partial AND turbo-action is :replace it automatically wraps the content in a turbo_frame_tag with the defined target_id.
    -# %p
    -#   This check happens on every call if config.assets.compile == true which should be the case on development, otherwise only on the first call after restart (cached in a $variable).
    %p
      Instance Variables would not work on Channel.
    %p
      Render_turbo_stream will regex all instance variables inside the partial and its included children (only if included by "render partial", if partial is a variable it cannot follow). On Development this check is done on every request, if assets_precompile is set to false, which should be the case in Production, this check happens only once on first call after app restart. If the fetch_instance_variables helper is placed inside the partial, it will set those variables inside the partial, so you should be able to work in the usual way.

%h3
  Turbo Stream
%ul
  %li
    = button_to 'partial by stream', partials_test_stream_partial_path, method: :post



%h3
  Traditional
%ul
  %li
    = link_to 'render', partials_traditional_path
    %p
      render 'variables_test', title: 'working'
  %li
    = link_to 'render', partials_traditional2_path
    %p
      render 'variables_test', locals: {title: 'working'}
  %li
    Should work like #{link_to 'docs', 'https://guides.rubyonrails.org/layouts_and_rendering.html#passing-local-variables'}


