#nav {
  a {
    margin: 1rem;
    display: inline-block;
  }
}

turbo-frame {
  border: 1px solid blue;
  margin: 1rem;
  padding: 1rem;
  display: inline-block;
  min-height: 2rem;
  min-width: 2rem;
}
.text-red {
  color: red;
}
.text-green {
  color: green;
}

tr.is-last-saved-object {
  td:first-child {
    border-left: 3px solid blue;
  }
}