= turbo_frame_tag 'cars-box' do
  %h1
    cars-index
  = link_to 'new', new_car_path
  %table
    %thead
      %tr
        %th
          title
        %th
    %tbody
      - Car.all.each do |c|
        %tr
          %td= c.title
          %td= link_to 'edit', edit_car_path(c)
          %td= button_to 'destroy', car_path(c), method: :delete